.main{position:absolute;width:1000px;height:800px;left:55px;marin:0 auto}
.top{position:absolute;width:966px;top:30px;left:10px}
.topstyle{position:absolute;top:4px}
.right1{position:absolute;right:225px;top:42px;height:110px}
.right2{position:absolute;right:120px;top:42px;height:110px}
.right3{position:absolute;right:19px;top:42px;height:110px}
.rightstyle{position:absolute;right:-36px;top:55px}
.rbox1{position:absolute;right:204px;top:150px}
.rbox2{position:absolute;right:98px;top:150px}
.rbox3{position:absolute;right:0;top:150px}
.boxTstyle{background-color:#f5f9fd;border:solid 1px #a0a0a0;color:#313232;font-size:14px;padding-top:14px;padding-right:14px}
.boxTstyle p{height:0;margin-bottom:28px;margin-left:16px}
.boxTstyle p label{display:inline-block;width:70px;text-align-last:justify;text-align:justify;text-justify:distribute-all-lines}
.boxTstyle p label i{display:inline-block;width:100%}
.boxTstyle p span{background-color:#040000;color:#efea3a;padding:4px}
.tcolorstyle{font-size:15px;color:#0243b9;letter-spacing:1px;font-weight:700;font-family:FZLTZHK--GBK1-0}
.boxT1{position:absolute;left:505px;top:0}
.boxT2{position:absolute;left:200px;top:115px}
.t11{position:absolute;left:10px;top:0}
.t12{position:absolute;left:390px;top:55px}
.g1{position:absolute;left:10px;top:20px}
.t21{position:absolute;left:10px;top:114px}
.g2{position:absolute;left:10px;top:134px}
.cam1{position:absolute;left:415px;top:0;z-index:2}
.cam2{position:absolute;left:134px;top:112px;z-index:2}
.left{position:absolute;left:0;top:10px;height:280px}
#bottom{position:absolute;top:6px}
#left{position:absolute;left:-130px;top:140px}
.zjt1{position:absolute;left:-12px;top:-1px;z-index:999}
.zjt2{position:absolute;left:-2px;bottom:-12px;z-index:999}
.zjt4{position:absolute;right:-12px;bottom:0;z-index:999}
.top2{position:absolute;width:436px;top:145px;left:10px}
.right21{position:absolute;left:431px;top:158px;height:90px}
#right21{position:absolute;left:-24px;top:40px}
.house{position:absolute;left:375px;top:227px}
.lifearea{position:relative;top:10px;left:0}
.bottom{position:absolute;width:365px;left:10px;top:280px}
.boxT3{position:absolute;left:82px;top:224px}
.verstyle{position:absolute;top:209px;height:110px}
.ver1{right:19px}
.ver2{right:120px}
.ver3{right:225px}
.verstyle2{position:absolute;left:-34px;top:54px}
.cro1{position:absolute;width:267px;top:314px;right:23px}
.t22{position:absolute;left:10px;top:227px}
.b2{position:absolute;left:10px;top:268px}
.t23{position:absolute;left:300px;top:250px}
.ver4{right:275px;top:327px;height:32px}
#cro1{position:absolute;left:12px;top:6px}
.wuwang{position:absolute;right:254px;top:355px}
.ti{position:absolute;right:3px;top:355px}
.zhong1{position:absolute;right:10px;top:540px}
.zhong2{position:absolute;right:134px;top:540px}
.no1{position:absolute;right:209px;top:548px}
.no2{position:absolute;right:247px;top:579px}
#ver4{left:0;top:8px}
.cro2{position:absolute;right:82px;top:385px;width:173px}
.cro3{position:absolute;right:85px;top:548px;width:49px}
#cro2{top:4px;position:absolute}
.ver5{right:23px;top:428px;height:120px}
#ver5{position:absolute;left:-37px}
.boxT4{position:absolute;right:130px;top:422px}
.boxT5{position:absolute;right:3px;top:668px}
.ver6{right:162px;top:604px;height:38px}
#ver6{position:absolute;left:-4px;top:10px}
.cro4{position:absolute;right:167px;top:637px;width:68px}
#cro4{position:absolute;top:6px;left:15px}
.ver7{right:220px;top:650px;height:111px}
#ver7{position:absolute;left:-34px;top:40px}
.cro5{position:absolute;right:224px;top:755px;width:768px;z-index:1}
.cro6{position:absolute;left:10px;top:525px;width:410px;z-index:1}
.bigbox{position:absolute;right:331px;top:325px;width:120px}
.boxT6{position:absolute;left:130px;top:697px}
.boxT7{position:absolute;left:333px;top:697px}
.b3{position:absolute;left:10px;top:514px}
.rbb1{position:absolute;left:460px;top:492px}
.rbb2{position:absolute;left:460px;top:530px}
.rbb3{position:absolute;left:460px;top:565px}
.boxT8{position:absolute;left:130px;top:468px}
.ba{position:absolute;right:254px;top:744px;z-index:2}
.t31{position:absolute;left:10px;top:704px}
.b31{position:absolute;left:20px;top:745px}
.fan{position:absolute;top:725px;left:70px;z-index:1}
.t32{position:absolute;left:46px;top:777px}
.cam3{position:absolute;left:530px;top:725px;z-index:1}
.ver8{position:absolute;right:351px;top:451px;height:313px}
.ver9{position:absolute;right:410px;top:450px;height:314px}
#ver8{position:absolute;left:-150px;top:156px}
#ver9{position:absolute;left:-148px;top:156px}
.t33{position:absolute;right:366px;top:677px}
.t34{position:absolute;right:360px;top:780px}
.t35{position:absolute;right:253px;top:720px}
.t36{position:absolute;right:144px;top:280px}
.t37{position:absolute;right:90px;top:358px}
.t38{position:absolute;right:328px;top:296px}
.t39{position:absolute;right:259px;top:556px}
.t40{position:absolute;right:142px;top:523px}
.t41{position:absolute;right:17px;top:607px}
.t42{position:absolute;left:508px;top:476px;width:15px}
.cai{position:absolute;top:644px;right:352px}
.buArrow{position:absolute;top:544px;right:372px}
.blArrow{position:absolute;top:544px;right:398px}
.t43{position:absolute;left:10px;top:495px}
.nowater{z-index:-9}